/* This is all sizing of css just for the tutorial screen */

.tutorialParent{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorialHome{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: left;
}

.tutVid{
    height: 30vh;
    max-width: 100%;
}

.tutorialScreen{
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: "VT323";
}

.progress{
    width: 20%;
    margin: 2px;
    height: 15px;
}

.filled{
    background-color: purple;
}

.progressParent{
    display: flex;
}

.tutorialText{
    height: 80px;
    font-size: 130%;
}

.tutorialContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tutorialButtons{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.tutorialButtonsSingle{
    justify-content: right;
}

.playButton{
    width: 100%;
}
